<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Беркат-трейд телефоны</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Телефоны</h1>
    <a href="/">На главную</a>
  </header>
  <main>
    <section id="adsSection">
      <h2>Электроника | Телефоны</h2> <br>
      <div id="adsContainer"></div>
      <div id="modal" class="modal hidden">
          <div class="modal-content">
              <span class="close-button">&times;</span>
              <div id="fullDescription"></div>
              <div class="slider">
                  <button class="prev">&laquo;</button>
                  <div class="slider-images"></div>
                  <button class="next">&raquo;</button>
              </div>
          </div>
      </div>
    </section>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      const response = await fetch('/api/ads/phones');
      const ads = await response.json();
      const adsContainer = document.getElementById('adsContainer');

      adsContainer.innerHTML = '';
      ads.forEach(ad => {
        const adElement = document.createElement('div');
        adElement.classList.add('ad');
        adElement.innerHTML = `
          <div class="cont_one">
            ${ad.images.map(image => `<img src="/images/${image}" alt="Ad Image">`).join('')}
          </div>

          <div class="cont_two">
            <h3>${ad.title}</h3>
            <p>${ad.description}</p>
            <p>${ad.telephone}</p>
            <p><strong>Категория:</strong> ${ad.category}</p>
            <h3>${ad.price}</h3>
          </div>
        
        `;
        adsContainer.appendChild(adElement);
      });
    });
  </script>
</body>
</html>
